# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SERVER=dev
APP_SECRET=146421b6380d2da5e9653f63a9b2f30e
###< symfony/framework-bundle ###

###> DB ###
POSTGRES_DB=purplebox
POSTGRES_USER=purpleboxuser
POSTGRES_PASSWORD=purpleboxpass
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
###< DB ###

###> ASSETS ###
API_ASSETS_PATH=/api/public/
PUBLIC_UPLOADS_PATH=/public/uploads
PUBLIC_UPLOADS_DIR=/public/uploads
CDN_ENABLED=false
###< ASSETS ###

###> PROJECT ###
API_PROJECT_DOMAIN=http://localhost/api
API_PROJECT_ROUTE_PREFIX=
###< PROJECT ###

###> CMS PROJECT ###
CMS_PROJECT_DOMAIN=http://localhost
###< PROJECT ###

###> FFMPEG ###
FFMPEG_BINARIES_PATH=/usr/bin/ffmpeg
FFPROBE_BINARIES_PATH=/usr/bin/ffprobe
###< FFMPEG ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=bb16ecc419b18eecc1be85e4d812b9d8d2f249eb87a3f0ec17fc9a29d8b75e1e
JWT_AUTH_PASS=be85e4d812b9d8d2f249eb87a3f0e
#86400 - 1 day - 24*60*60
JWT_TOKEN_TTL=86400
#2592000 - 30 days - 30*24*60*60
REFRESH_TOKEN_TTL=2592000
###< lexik/jwt-authentication-bundle ###

###> symfony-bundles/redis-bundle ###
REDIS_URL=tcp://127.0.0.1:6379?database=0
REDIS_IS_ENABLE=false
REDIS_QUEUE_IS_ENABLE=false
###< symfony-bundles/redis-bundle ###

###> AWS ###
AWS_KEY=
AWS_SECRET=
AWS_S3_BUCKET=vcdev
###> AWS ###

###> symfony/mailer ###
MAILER_DSN=
EMAIL=
EMAIL_NAME=
MANDRILL_WEBHOOK_KEY=
MANDRILL_WEBHOOK_URL=
###< symfony/mailer ###

###> SLACK ###
SLACK_KEY=
SLACK_CHATERS_KEY=
SLACK_TOKEN=
SLACK_CHANNEL_ERROR=
###> SLACK ###

OPENAI_API_KEY=
